body{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
outline: none;
}

#status
{
font-size: 18px;
outline: none;
}

canvas{
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
    margin-top: 50px;
}
#back{
    float: right;
    margin: 20px;
    font-size: 21px;
    position: relative;
    outline: none;
}
#bt{
    width: 30%;
    height: 7%;
    outline: none;
    border: 0px solid transparent;
    border-radius: 10px;
    color: white;
    background-color: rgb(170, 255, 0);
    font-size: 20px;
    transition: 0.20s;
    transform-origin:left;
    text-transform: uppercase;
}
#bt:hover{
    background-color: rgb(159, 240, 38);
    transform-origin:left;
    font-size: 25px;
    transition: 0.20s;
}